# enforce SSL
#RewriteEngine On
#RewriteCond %{HTTP:X-Forwarded-Proto} !=https
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# use gzip versions
RewriteCond %{HTTP:Accept-Encoding} gzip 
RewriteCond %{REQUEST_FILENAME}.gz -f 
RewriteRule ^(.*)$ $1.gz [L]

# 301 Redirect Old Files
Redirect 301 /new.html /
Redirect 301 /new /
Redirect 301 /+ https://plus.google.com/+abrahamwilliams
Redirect 301 /contact /


# Security Headers
Header set Strict-Transport-Security max-age=31415926
Header set Content-Security-Policy "default-src 'self'; script-src 'self' https://ssl.google-analytics.com https://apis.google.com; font-src 'self' https://themes.googleusercontent.com; frame-src 'self' https://apis.google.com; style-src 'self' https://fonts.googleapis.com 'unsafe-inline'; img-src 'self' https://ssl.google-analytics.com; connect-src 'self'
Header set X-Content-Type-Options nosniff
Header set X-Frame-Options DENY
Header set X-XSS-Protection "1; mode=block"


# Content stuff
header set X-UA-Compatible "IE=edge, chrome=1"
AddDefaultCharset utf-8
ExpiresActive On
ExpiresDefault "access plus 1 week"
