# enforce SSL
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


# 301 Redirect Old Files
Redirect 301 /new.html /
Redirect 301 /new /
Redirect 301 /+ https://plus.google.com/114233674199568482864
Redirect 301 /contact /


# Security Headers
Header set Strict-Transport-Security max-age=31415926
Header set Content-Security-Policy "default-src 'self'; script-src 'self' https://ssl.google-analytics.com; frame-src 'self'; style-src 'self'; img-src 'self'; connect-src 'self'
Header set X-Content-Type-Options nosniff
Header set X-Frame-Options DENY
Header set X-XSS-Protection "1; mode=block"


# Content stuff
header set X-UA-Compatible "IE=edge, chrome=1"
AddDefaultCharset utf-8
