#header > h1 {
	border-bottom: 1px solid #DEDEDE;
}

#header {
	margin-bottom: 0px;
}

a:link {
	text-decoration: none;
}

#project {
	border: 1px solid #DEDEDE;
	margin-top: 15px;
}

th {
	text-align: right;
	color: #999;
	font-weight: normal;
	text-transform: lowercase;
}

#left {
	padding-top: 60px;
}

#fb-share {
	position: relative;
	top: 1px;
}

td {
	padding: 2px;
	padding-left: 10px;
}

#share > a {
	border-width: 0;
}

#share {
	margin-top: 40px;
	margin-left: 0px;
}

.center {
	text-align: center;
}

iframe.twitter-share-button.twitter-count-horizontal {
	position: relative;
	top: 7px;
}

* {
	font-family: 'Inconsolata', arial, serif;
}