/**
 * Squaregrid CSS
 */
/* your main wrapping div */
#wrapper{ margin: 0 auto; position:relative; overflow: hidden; width: 994px;background:#fff; }
#container{width:1008px; /* essential */ margin-left:-7px;}

/* global styling to apply to all columns */
.sg-1, .sg-2, .sg-3, .sg-4, .sg-5, .sg-6, .sg-7, .sg-8, .sg-9, .sg-10, .sg-11, .sg-12, .sg-13, .sg-14, .sg-15, .sg-16, .sg-17, .sg-18, .sg-19, .sg-20, .sg-21, .sg-22, .sg-23, .sg-24, .sg-25, .sg-26, .sg-27, .sg-28, .sg-29, .sg-30, .sg-31, .sg-32, .sg-33, .sg-34, .sg-35
{margin:0px 14px 28px 14px; float:left; /* for RTL change float to 'right' */ }

/* if you want to have a div as a parent with divs inside - add this class to parent div */
.sgParent{margin:0px;}

/* essential: width for all columns */
.sg-1{width:28px} .sg-2{width:56px} .sg-3{width:84px} .sg-4{width:112px} .sg-5{width:140px} .sg-6{width:168px} .sg-7{width:196px} .sg-8{width:224px} .sg-9{width:252px} .sg-10{width:280px} .sg-11{width:308px} .sg-12{width:336px} .sg-13{width:364px} .sg-14{width:392px} .sg-15{width:420px} .sg-16{width:448px} .sg-17{width:476px} .sg-18{width:504px} .sg-19{width:532px} .sg-20{width:560px} .sg-21{width:588px} .sg-22{width:616px} .sg-23{width:644px} .sg-24{width:672px} .sg-25{width:700px} .sg-26{width:728px} .sg-27{width:756px} .sg-28{width:784px} .sg-29{width:812px} .sg-30{width:840px} .sg-31{width:868px} .sg-32{width:896px} .sg-33{width:924px} .sg-34{width:952px} .sg-35{width:980px}


/**
 * Custom CSS
 */
#header > h1 {
  border-bottom: 1px solid #DEDEDE;
}

#header {
  margin-bottom: 0px;
}

a:link {
  text-decoration: none;
}

#project {
  border: 1px solid #DEDEDE;
  margin-top: 15px;
}

th {
  text-align: right;
  color: #999;
  font-weight: normal;
  text-transform: lowercase;
}

#left {
  padding-top: 60px;
}

#fb-share {
  position: relative;
  top: 1px;
}

.fb_share_count_nub_right {
  position: relative;
  top: 8px;
}

td {
  padding: 2px;
  padding-left: 10px;
}

#share > a {
  border-width: 0;
}

#share {
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 0px;
}

.center {
  text-align: center;
}

iframe.twitter-share-button.twitter-count-horizontal {
  position: relative;
  top: 7px;
  width: 105px !important;
}

* {
  font-family: 'Inconsolata', arial, serif;
}

/**
 * Boastful CSS
 */
.boastful {
  display: inline;
}
.boastful img{
  width: 48px;
  height: 48px;
  margin: 3px;
  border: 0;
}
.boastful .boastful_pointer{
  position: absolute;
  z-index: 999;
  left: -9999px;
  opacity: .7;
  display: none;
  width: 0;
  height: 0;
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
  border-top: 0;
}
.boastful .boastful_tweet{
  position: absolute;
  z-index: 999;
  left: -9999px;
  background-color: #222;
  opacity: .8;
  padding: 5px;
  width: 250px;
  font-size: 11px;
  text-shadow: 1px 1px 0 #000;
  color: #eee;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
.boastful .boastful_handle{
  font-size: 13px;
  font-weight: bold;
}