@use '~@material/chips/deprecated/mdc-chips';
@use '~@material/fab/mdc-fab';

h2 {
  margin-left: 12px;
}

.grid-item {
  border-width: 0;
  margin: 12px;
  width: calc(50% - 24px);
}

node-package {
  --node-package-background-color: #fff;
  --node-package-color: #000;
  --node-package-link-color: #000;

  border-color: #000;
  width: 100%;
}

a,
.profile-chip i {
  color: #000;
}

header h1 {
  text-align: center;
}

.profile-chip {
  background-color: #fff;
  border: 1px #000 solid;
  color: #000;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center;
}

.avatar {
  border-radius: 8px;
}

.description {
  hyphens: auto;
  margin: 0 12px;
  text-align: justify;
}

.promo {
  border: 1px solid #000;
  border-radius: 8px;
  margin: 12px;
  text-align: center;
}

.app-fab--absolute {
  background-color: #1da1f2;
  bottom: 1.5rem;
  position: fixed;
  right: 1.5rem;
}

.mdc-fab.mdc-fab--extended {
  border-radius: 28px;
  height: 56px;
  width: 179px;
}

.mdc-fab.mdc-fab--extended .mdc-fab__icon {
  padding-left: 8px;
  width: 56px;
}

.mdc-fab {
  font-size: 1rem;
  letter-spacing: 0.08929em;
}

.mdc-fab,
.mdc-fab__label {
  transition: all 200ms ease-in-out;
}

.mdc-fab:not(.mdc-fab--extended) {
  text-decoration: none;
  text-transform: uppercase;
  width: 56px;
}

.mdc-fab .mdc-fab__label {
  width: 100%;
}

.mdc-fab:not(.mdc-fab--extended) .mdc-fab__label {
  width: 0;
}

.maine {
  display: flex;
  flex-direction: column;
  margin: 128px auto 0;
  max-width: 1280px;
  padding: 12px;
  padding-top: 48px;
}

@media all and (max-width: 960px) {
  .maine {
    max-width: 640px;
  }

  .grid-item {
    margin: 12px 0;
    width: calc(100%);
  }

  h2 {
    margin-left: 0;
  }

  .description {
    margin: 0;
  }

  .promo {
    margin: 12px 0;
    padding: 0 8px;
  }
}
