@import "~@material/chips/mdc-chips";

h2 {
  margin-left: 12px;
}

.grid-item {
  margin: 12px;
  width: calc(50% - 24px);
  border-width: 0;
}

github-repository {
  font-size: 0.6em;
}

node-package {
  font-size: 0.5em;
  width: 100%;
  --node-package-background-color: #fff;
  --node-package-color: #000;
  --node-package-link-color: #000;
  border-color: #000;
}

a {
  color: #000;
}

header h1 {
  text-align: center;
}

.profile-chip span, .profile-chip i {
  font-size: 1.5em !important;
  color: #000 !important;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center;
}

.avatar {
  border-radius: 8px;
}

.description {
  text-align: justify;
  margin: 0 12px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.promo {
  text-align: center;
  margin: 12px 12px;
  border: 1px solid #000;
  border-radius: 8px;
}

#maine {
  max-width: 1280px;
  padding-top: 48px;
  margin: 128px auto 0 auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 960px) {
  .grid-item {
    width: calc(100%);
    margin: 12px 0;
  }

  h2 {
    margin-left: 0;
  }

  .description {
    margin: 0 0;
  }

  .promo {
    margin: 12px 0;
    padding: 0 8px;
  }
}
