name: Deploy Preview
on: pull_request

jobs:
  deploy_preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_ABRAHAM_D3850 }}'
          projectId: abraham-d3850
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
